body {
    margin: 0;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    background: url(/Images/bg.png) repeat;
    min-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 10px 0;
    color: rgb(71, 75, 85);
}

.button, .select {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ie-user-select: none;
    font-size: 12px;
    outline: 0;
    box-sizing: border-box;
    border-radius: 3px;
    min-width: 40px;
    vertical-align: middle;
    display: inline-block;
    background: url(/Images/button_bg.png) 0 -32px repeat-x;
    border: 1px solid #DDD;
    border-bottom: 1px solid #BBB;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),rgba(0,0,0,0.1) 0 1px 2px;
    transition: border-color .2s linear;
    -webkit-transition: border-color .2s linear;
    -moz-transition: border-color .2s linear;
    -o-transition: border-color .2s linear;
    -ie-transition: border-color .2s linear;
    margin: 0 3px 0 0;
    padding: 0 20px;
}

.button {
    height: 26px;
    line-height: 24px;
}

.select {
    height: 26px;
    line-height: 24px;
    min-width: 70px;
    position: relative;
    padding: 0 20px 0 8px;
    width: 190px;
    *width: 180px;
    _width: 180px;
}

    .button:focus, .select:focus, .checkbox:focus {
        box-shadow: 0 0 5px #ffdf00;
    }

    .button:enabled:hover, .select:hover {
        border-color: #BBB #BBB #999;
    }

    .button:enabled:active, .select:active {
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
        border-color: #DDD #DDD #BBB;
    }

    .button:disabled, .button[disabled], .button.disabled, .select.disabled {
        opacity: .5;
    }

    .select .downarrow {
        display: block;
        position: absolute;
        right: 8px;
        top: 10px;
        width: 0;
        height: 0;
        background: 0;
        border-color: #000 transparent transparent;
        border-style: solid;
        border-width: 4px;
    }

    .select .popform {
        z-index: 9999;
        display: none;
        position: absolute;
        top: 25px;
        left: 0;
        background: #FFF;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        min-width: 70px;
        margin: 0;
        padding: 1px;
    }

        .select .popform.direction-top {
            top: auto;
            bottom: 26px;
        }

        .select .popform li {
            list-style: none;
            white-space: nowrap;
            margin: 0;
            padding: 0 5px;
        }

            .select .popform li:hover {
                background: #e2effa;
            }

.button-def {
    background: url(/Images/button_bg.png) 0 -32px repeat-x;
    border-color: #c0d8f9 #C0D8F9 #81b1f4;
}

    .button-def:enabled:hover {
        border-color: #81b1f4 #81B1F4 #438aee;
    }

    .button-def:enabled:active {
        border-color: #c0d8f9 #C0D8F9 #81b1f4;
    }

.container {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 1890px;
}

.es-header {
    background-color: #2c2e35;
    height: 80px;
    color: #efefef;
}

.es-header-user {
    float: right;
    height: 80px;
    margin-right: 40px;
}

.es-header-logout {
    float: left;
    margin: 30px 0 30px 10px;
    color: #fff!important;
    text-decoration: none!important;
}

.es-header-user-icon {
    border: 2px solid #fff;
    border-radius: 18px;
    width: 32px;
    height: 32px;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 10px;
    float: left;
}

.es-header-user-name {
    float: left;
    line-height: 80px;
}

.es-logo {
    float: left;
    padding: 20px 0;
    width: 190px;
}

.es-nav {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}

    .es-nav a, .es-nav a:visited, .es-nav a:active, .es-nav a:hover, .es-notification a, .es-notification a:visited, .es-notification a:active, .es-notification a:hover {
        color: #fff !important;
        text-decoration: none !important;
    }

.es-nav-item {
    height: 18px;
    padding: 31px 15px 28px 15px;
    border-bottom: 3px solid rgba(0,0,0,0);
    transition: border 0.2s linear;
    float: left;
}

    .es-nav-item img {
        width: 18px;
        height: 18px;
        float: left;
    }

.es-nav-item-text {
    padding: 0 10px;
    float: left;
}

@media (max-width:1200px) {
    .es-nav-item-text {
        display: none;
    }

    .es-nav-item img {
        margin-right: 10px;
    }
}

.es-nav-item:hover {
    border-bottom: 3px solid #ff7a00;
}

.es-logo-img {
    height: 40px;
}

.label {
    font-size: 14px;
    line-height: 14px;
    border-radius: 20px;
    background-color: #888;
    padding: 3px 10px;
    color: #fff!important;
}

    .label.red {
        background-color: rgb(217, 28, 38);
    }
    .label.orange {
        background-color: orange;
    }
    .label.green {
        background-color: green;
    }
    .label.blue {
        background-color:dodgerblue;
    }

.es-footer {
    clear: both;
    text-align: center;
    font-size: 10px;
    color: rgb(61, 65, 75);
    line-height: 40px;
    margin-bottom: 20px;
}

.es-left {
    position: absolute;
    color: #989dac;
    margin-top: 35px;
    width: 190px;
    float: left;
    background-color: rgba(71, 75, 85, 0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-bottom: 35px;
}

    .es-left a, .es-left a:active, .es-left a:visited {
        color: #989dac;
        text-decoration: none;
        transition: color 0.2s linear;
    }

.es-right {
    margin-top: 35px;
    margin-left: 210px;
    width: calc(100% - 270px);
    width: -webkit-calc(100% - 270px);
    width: -moz-calc(100% - 270px);
    float: left;
}

.es-block {
    background-color: #efefef;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 10px;
    border-top: 5px solid #8690ad;
    margin-bottom: 35px;
}

.es-menu-item {
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #373a43;
    font-weight: bold;
    border-left: 3px solid rgba(0,0,0,0);
    border-right: 3px solid rgba(0,0,0,0);
    transition: color 0.2s linear, border 0.2s linear;
}

    .es-menu-item.active {
        color: #fff;
        border-left: 3px solid #ff7a00;
        border-right: 3px solid #ff7a00;
    }

        .es-menu-item.active a {
            color: #fff;
        }

    .es-menu-item:hover {
        color: #fff;
        border-left: 3px solid #ff7a00;
        border-right: 3px solid #ff7a00;
    }

        .es-menu-item:hover a {
            color: #fff;
        }

.table {
    width: 100%;
}

.table th {
    border-bottom: 3px solid #ff7a00;
    padding-bottom: 5px;
    text-align: left;
    color: #ddd;
}

th[data-col] {
    cursor: pointer;
}

.table tbody tr {
    line-height: 22px;
    color:#ddd;
    transition: background 0.2s linear, color 0.2s linear;
}

    .table tbody tr:hover {
        background-color: #ff7a00;
        color: #fff;
    }

.table td {
    padding: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.textbox {
    font-size: 12px;
    line-height: 18px;
    padding: 4px 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: border 0.2s linear, box-shadow 0.2s linear;
    outline: 0;
    border-radius: 18px;
}

.search {
    font-size: 10px;
    padding: 4px 8px;
    margin-top: -3px;
    margin-right: 10px;
    border-radius: 14px;
    border: 1px solid #fff;
    transition: border 0.2s linear, box-shadow 0.2s linear;
    float: left;
    outline: 0;
}

.textbox:hover {
    border: 1px solid #ccc;
}

.textbox:focus, .search:focus {
    border: 1px solid #76adfc;
    box-shadow: 0 0 5px #76adfc;
}

#loading-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    z-index: 999;
    position: fixed;
}

.es-notification {
    padding: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: absolute;
    font-size: 14px;
    background-color: #2c2e35;
    border-top: 3px solid #ff7a00;
    display: none;
    z-index: 1;
}

    .es-notification hr {
        border: 1px solid rgb(71, 75, 85);
    }

.es-header-search {
    margin-right: 20px;
    float: right;
}

    .es-header-search:hover {
        border-bottom: 3px solid rgba(0,0,0,0);
    }

#loading {
    width: 100px;
    height: 130px;
    padding: 20px;
    position: fixed;
    top: 35%;
    left: 50%;
    z-index: 1000;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
}

.es-notification-subtitle {
    font-size: 10px;
    line-height: 14px;
    color: #989dac;
}

#SearchResult {
    min-width: 130px;
    max-width: 250px;
    overflow: auto;
}

    #SearchResult img {
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }

a, a:visited, a:active {
    color: #1d76c7;
    text-decoration:none;
}

a:hover {
    color:#3a93e2;
}

.es-block-menu {
    margin-top:2px;
    margin-bottom: 20px;
}

    .es-block-menu a, .es-block-menu a:active, .es-block-menu a:visited {
        background-color: #6c7795;
        padding: 6px 18px;
        text-decoration: none;
        color: #fff;
        transition: color 0.2s linear, background 0.2s linear;
        border-radius: 18px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

        .es-block-menu a:hover, .es-block-menu-active {
            background-color: #ff7a00!important;
            color:#000;
        }

.es-menu-extend {
    line-height:normal;
    padding: 12px 24px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: absolute;
    font-size: 14px;
    background-color: rgba(255,255,255,0.98);
    border-top: 5px solid #ff7a00;
    display: none;
    z-index: 901;
}

    .es-menu-extend hr {
        border: 1px solid #ccc;
    }

.es-enterprise {
    margin-bottom: 20px;
    width: calc(50% - 10px);
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    height: 250px;
    border-top: 5px solid #ccc;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.es-enterprise.orange {
    border-top: 5px solid orange;
}

.es-enterprise.pink {
    border-top: 5px solid pink;
}

.es-enterprise.blue {
    border-top: 5px solid #8ddbff;
}

.es-enterprise.green {
    border-top: 5px solid #9feccb;
}

.es-enterprise-content {
    height: 230px;
    padding: 10px;
    overflow: auto;
}

.area-a {
  	background:url("/Images/area-a.png") repeat fixed!important;
}

.area-b {
  	background:url("/Images/area-b.png") repeat fixed!important;
}

.area-c {
  	background:url("/Images/area-c.png") repeat fixed!important;
}

.area-d {
  	background:url("/Images/area-d.png") repeat fixed!important;
}

.es-enterprise-item {
    margin: 0 10px 5px 10px;
    padding: 5px 10px;
    line-height: 20px;
    height:20px;
    font-size:16px;
    border-radius:18px;
    transition: background 0.2s linear, color 0.2s linear;
}

    .es-enterprise-item a {
        display: none;
        float:right;
        margin-left: 5px;
        margin-right:5px;
    }
    .es-enterprise-item a.title {
        display: inline!important;
        float:left!important;
        margin-left:0!important;
        color: #000!important;
    }

    .es-enterprise-item:hover {
        background: #ddd;
    }

    .es-enterprise-item:hover a {
        display: inline;
        color: #3a93e2!important;
    }

.es-enterprise-item a, .es-enterprise-item a:visited,.es-enterprise-item a:active {
    text-decoration: none;
    color: #3a93e2;
}

    .es-enterprise-item a:hover {
        text-decoration: none;
        color: #1d76c7;
    }

.es-block-menu-search {
    padding: 6px 18px;
    border-radius: 18px 0 0 18px;
}

.es-block-menu-search-btn {
    border-radius: 0 18px 18px 0!important;
}

.es-table-outer {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    padding:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom:20px;
    color: #fff;
}

.full-width {
        width: calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
    }
    .span-width {
        width:100%;
    }

.es-user-icon {
    border: 2px solid rgba(255,255,255,.9);
    border-radius: 18px;
    width: 32px;
    height: 32px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    float: left;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.es-user-name {
    float: left;
    line-height: 38px;
}

.es-icon-small {
    width: 18px;
    height: 18px;
    float: left;
}

.es-icon-large {
    width:150px;
    height:150px;
    border: 10px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 100%;
}

.es-customer-container {
    -webkit-column-width:260px;
    -moz-column-width:260px;
    -o-colum-width:260px;
}

.es-customer {
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    background-color:rgba(255,255,255,0.95);
    border-left: 5px solid #ff6a00;
    padding: 10px; 
    position:relative;
    display:inline-block;
    font-size: 12px;
    transition: box-shadow 0.2s linear;
    margin-top: 20px;
}

    .es-customer table {
        width: 100%;
    }

.es-customer:hover {
    box-shadow:0 0 10px orange;
}

.es-dialog { 
    padding: 20px;
    position: fixed;
    top: 200px;
    left: 300px;
    margin: 0 auto;
    z-index: 999;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    visibility: hidden;
    opacity: 0;
    transform: scale(1.2);
    transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.2s linear;
}

.es-dialog.show { 
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.es-report {
    display: none;
    border-left:5px solid #ccc;
    padding-left: 10px;
}
.es-report-home {
    border-left:5px solid #ccc;
    padding-left: 10px;
}